<launch>
  <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
    <param name="ip_address" value="192.168.131.20"/>
    <param name="serial_port" value=""/>
    <param name="serial_baud" value=""/>
    <param name="frame_id" value="urg_link"/>
    <param name="calibrate_time" value="true"/>
    <param name="publish_intensity" value="false"/>
    <param name="publish_multiecho" value="false"/>
    <param name="angle_min" value="-2.356195"/>
    <param name="angle_max" value="2.356195"/>
  </node>
</launch>
