<?xml version="1.0"?>
<robot name="iiwa7" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find zed_interfaces)/urdf/zed_descr.urdf.xacro"/>
  <xacro:include filename="$(find bunker_description)/urdf/bunkerPro.urdf.xacro"/>

  <joint name="zed_joint" type="fixed">
    <parent link="front_mount_link" />
    <child link="zed_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>
</robot>
